{% load static %}
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/"><b>SECURED_AGENDA</b></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        {% if user.is_authenticated %}
        <li class="nav-item active">
          <a class="nav-link" href="/"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        {% endif %}
      </ul>

      <div class="">
        {% if user.is_authenticated %}
        <span class="text-white mr-4">Hello, {{ request.user }}</span>
        <span><a href="/logout" class="logout">Logout</a></span>
        {% else %}
        <span><a href="/register" class="signup">Sign Up</a></span>
        {% endif %}
      </div>
    </div>
  </nav>
</header>
