{% extends "base.html" %}

{% block title %}
Agenda Name
{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}

<section class="my-auto">
    <div class="row py-3">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card p-4">
                <div class="card-header bg-transparent border-0">
                    <h4 class="py-0">Set up your Agenda Name</h4>
                </div>
                <div class="card-body">
                    <form method="post" class="form-group">
                        {% csrf_token %}
                        {{ agendaform | crispy }}

                        <button type="submit" class="btn btn-info btn-block">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</section>


{% endblock content %}